body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Special-Color{
    color: rgb(9, 160, 84);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}