body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Special-Color{
    color: rgb(9, 160, 84);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 50px rgb(128, 126, 126);
}